
@{
    ViewBag.Title = "Agentsview";
}
<br />
<h2>Agentsview</h2>
@using (Html.BeginForm())
{

    <table class="table" style="margin-top:80px;">
        <thead>
            <tr>
                <th>AgentId</th>
                <th>Agent Name</th>
                @*<th>Last Name</th>*@
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            string id = item.AgentId.ToString();
            <tbody>
                <tr>
                    <td><h3>@Html.ActionLink(id, "AgentsList", "PatientLogin", new { serviceId = item.AgentId }, null)</h3></td>
                    <td>@item.FirstName</td>
                    @*<td>@item.LastName</td>*@
                </tr>
            </tbody>
        }

    </table>
}
<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Login","PatientLogin")'">Back</button>
</div>

