@{
    ViewBag.Title = "ViewTestResults";
}
<html>
<head>
    @Styles.Render("~/Content/StyleSheet.css")
</head>
<body>
    <button class="btn btn-primary btn-danger" style="margin-top:60px;margin-left:95%;margin-bottom:0px;" onclick="location.href='@Url.Action("DoctorHome", "DoctorLogin")'">Back</button>
    @using (Html.BeginForm())
    {
        <table style="margin-top:10px;">
            <thead>
                <tr>
                    <th><h2 class="text-danger">List of Patients Ids</h2></th>
                </tr>
            </thead>
            @{
                foreach (var item in Model)
                {

                    string id = item.ToString();
                    <tbody>
                        <tr>
                            <td><h3>@Html.ActionLink(id, "ListTestResult", "DoctorLogin", new { patientId = item }, null)</h3></td>
                        </tr>
                    </tbody>
                }
            }
        </table><br /><br />
    }
    <h4 class="text-danger">*Please click on the Patient Id for more information.</h4>
</body>
</html>